<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios Banco de dados HTML</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>NOME</td>
                <td>SOBRENOME</td>
                <td>IDADE</td>
                <td>ENDEREÇO ID</td>
            </tr>
        </thead>
        <tbody>
            {% for p in lista %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nome }}</td>
                <td>{{ p.sobrenome }}</td>
                <td>{{ p.idade }}</td>
                <td>{{ p.endereco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>