<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  href="../static/res.css" rel='stylesheet' >
    <title>Resultado</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da soma entre {{a}} e {{b}} é {{dicionario['soma']}}</p>
    <p>Resultado da subtração entre {{a}} e {{b}} é {{dicionario['subtracao']}}</p>
    <p>Resultado do produto entre {{a}} e {{b}} é {{dicionario['produto']}}</p>
    <p>Resultado da divisão inteira entre {{a}} e {{b}} é {{dicionario['divisao_int']}}</p>
    <p>Resultado da divisão fracionada entre {{a}} e {{b}} é {{dicionario['divisao_frac']}}</p>
    <p>Resultado da resto da divisão entre {{a}} e {{b}} é {{dicionario['resto']}}</p>
    <p>Resultado da raiz entre {{a}} e {{b}} é {{dicionario['raiz']}}</p>
    <br>
    <a href="/">Voltar para a pagina inicial</a>
</body>
</html>