<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{titulo}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link  href="../static/style.css" rel='stylesheet' >

</head>
<body>
    <h1><marquee>Bҽɱ Vιɳԃσ ασ αρρ CALCULADORA V1.0</marquee></h1>
    <br>
    <form action="/calcular">
        <label for ="" > Digite um número</label> 
        <input type="text" name="a"/> <br>
        <br>
        <label for ="" > Digite outro número</label>
        <input type="text" name="b"/> <br>
        <input type="submit" value="Calcular"/>
    </form>
</body>
</html>